{% extends 'base.html' %}

{% block body %}
	<div class="">
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<div class=""></div>
			<div class="content">
		        <div class="container">
		        	<div class="row d-flex justify-content-center">
		        		<div class="col-md-9 col-lg-8 col-sm-10">
							<table class="table" style="background: #0f0f20; box-sizing: border-box; box-shadow: 1px 3px 10px black;">
							    <thead>
							        <tr>
							            <th class="text-center">#</th>
							            <th>Allies</th>
							            <th>Password</th>
							            <th>Date Added</th>
							        </tr>
							    </thead>
							    <tbody>
							    	{% if user_passwords %}
								    	{% for password in user_passwords %}
									        <tr>
									            <td class="text-center">{{password.id}}</td>
									            <td>{{password.allies}}</td>
									            <td>{{password.original_password}}</td>
									            <td>{{password.date_added.strftime('%dnd %b %Y')}}</td>
									            <td class="td-actions">
									            	<button type="button" class="btn btn-danger btn-round btn-sm btn-icon delete_button" password_id="{{password.id}}"><i class="tim-icons icon-trash-simple"></i></button>
									            </td>
									        </tr>
								        {% endfor %}
									{% else %}
									        <tr>
									            <td class="text-center">You</td>
									            <td>Have</td>
									            <td>No</td>
									            <td>Saved</td>
									            <td class="td-actions">Password</td>
									        </tr>
									{% endif %}
							    </tbody>
							</table>
		        		</div>
		        	</div>
		        </div>
			</div>
    	</div>
    </div>
{% endblock %}