{% extends 'base.html' %}

{% block body %}
    <div class="page-header">
      <br>
      <br>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-7" id="dashboard_col">
              <div class="card" style="background: #0f0f18;">
                <div class="card-header">
                  <h4>Enter A New Password</h4>
                  <hr>
                </div>
                <div class="card-body">
                  <form method="POST" class="new_password_form2">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" placeholder="Enter A Password" id="new_password2">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" placeholder="Enter An Allies" id="new_allies2">
                    </div>
                    <button type="submit" class="btn btn-info float-right">Add Password</button>
                  </form>
                </div>
                <div class="card-footer text-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}